 * {
     margin: 0;
     padding: 0;
     box-sizing: 0
 }

p {font-size: 11px;
    line-height: 2em}

/* - - - Typographie - - -


 - - - Typographie - - - */



 img {
     width: 100%;
}

 header {
     background-color: antiquewhite;
     padding: 1rem;
 }

 header h1,
 h2,
 h3 {
     text-align: center;
     line-height: 1em
 }

 nav {
     position: sticky;
     top: 0;
     background-color: gainsboro;
     padding: 1rem;
 }

 nav ul {
     display: flex;
     justify-content: center;
     list-style: none;
     column-gap: 2em
 }


 main {
     min-height: 90vh;
     margin: 0;
 }

 .site {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     max-width: 1000px;
     margin: auto;     
     
     font-family: verdana;
     font-size: 9pt;
     line-height: 1.5;
     
 }


 footer {
     background-color: antiquewhite;
     padding: 1rem;
 }

 .left-side,
 .right-side {
     border-style: dotted;
     width: 150px;
     min-height: 90vh;
     display: none;
     margin: 1em 0
 }


 .commercial {
     padding: 0.5em 1em 1em 2em;
     background-color: palevioletred;
     font-size: 8px;
     line-height: 1em;
     margin-bottom: 3em;
     
 }

.commercial img { resize: 80%;
                  }

 .posts {
     display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     align-items: stretch;
     min-height: 90vh;
     min-width: 300px;
     max-width: 600px;
     margin: auto;
     
 }

 .text {
     border-style: solid;
     padding: 2em 3em;
     margin: 1em;
     order: 2;


 }

.news {order: 1}
.archiv {order: 3}

 .archiv, .news {
              
     margin: 1em;
     padding: 1em 2em;
     border-style: solid;
 }

 @media only screen and (min-width: 925px) {

     .left-side,
     .right-side {
         display: block;
         flex-wrap: nowrap;

     }

 }

 @media only screen and (max-width: 601px) {
     .post {flex-direction: column;
     min-width: none}
     
     .archiv, .news {display: none}
          .text {margin: 1em auto
     }
     
}


